<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8"> 

	<title>Demo's | Wokoon.io</title><meta name="description" content="We are Uncommon: a bunch of rebellious, curious, & passionate people using design to create value." /><meta property="og:title" content="Uncommon | Strategic Design" /><meta property="og:description" content="We are Uncommon: a bunch of rebellious, curious, & passionate people using design to create value." /><meta name="keywords" content="Retail design, Touchpoint, Nudges" />
	<meta property="og:image" content="../../uncommon.jpg" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" type="image/x-icon" href="../../favicon-32x32.png">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Mono:200,300,400,500,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/flexslider.css')}}">

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylesf9e3.css')}}">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
		<style type="text/css">
			#controls {
  display: flex;
  margin-top: 20rem;
}


audio {
  display: block;
  width: 100%;
  margin-top: 0.2rem;
}
#formats {
  margin-top: 0.5rem;
  font-size: 80%;
}
		</style>
<!-- END HEADER FIRST PART -->	


<style type="text/css">
.search-form {
  position: relative;
  top: 50%;
  left: 50%;
  width: 350px;
  height: 40px;
  border-radius: 40px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #fff;
  transition: all 0.3s ease;
}
.search-form.focus {
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
}

.search-input {
  position: absolute;
  top: 10px;
  left: 38px;
  font-size: 14px;
  background: none;
  color: #5a6674;
  width: 195px;
  height: 20px;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
}
.search-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
          appearance: none;
}

.search-button {
  position: absolute;
  top: 10px;
  left: 15px;
  height: 20px;
  width: 20px;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none !important;
  cursor: pointer;
}
.search-button svg {
  width: 20px;
  height: 20px;
  fill: #5a6674;
}

.search-option {
  position: absolute;
  text-align: right;
  top: 10px;
  right: 15px;
}
.search-option div {
  position: relative;
  display: inline-block;
  margin: 0 1px;
  cursor: pointer;
}
.search-option div input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.01;
  cursor: pointer;
}
.search-option div span {
  position: absolute;
  display: block;
  text-align: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  background: #929AA3;
  color: #fff;
  font-size: 9px;
  letter-spacing: 1px;
  line-height: 1;
  text-transform: uppercase;
  padding: 4px 7px;
  border-radius: 12px;
  top: -18px;
  transition: all .2s ease-in-out;
}
.search-option div span::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-top: 4px solid #929AA3;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  transition: all .2s ease-in-out;
}
.search-option div:hover span {
  opacity: 1;
  top: -21px;
}
.search-option div label {
  display: block;
  cursor: pointer;
}
.search-option div svg {
  height: 20px;
  width: 20px;
  fill: #5a6674;
  opacity: 0.6;
  transition: all .2s ease-in-out;
  pointer-events: none;
}
.search-option div:hover svg {
  opacity: 1;
}
.search-option div input:checked + label svg {
  fill: #e24040;
  opacity: .9;
}
.search-option div input:checked + label span {
  background: #e24040;
}
.search-option div input:checked + label span::after {
  border-top-color: #e24040;
}
</style>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles-ourwork4114.css')}}">
<!-- HEADER SECOND PART-->

    
<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'../../../www.googletagmanager.com/gtm5445.html?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-MRZ2GMN');</script>
<!-- End Google Tag Manager -->

<script type="text/javascript">
function myfun() {
 var k ='{{ label }}';
	document.getElementById("search").setAttribute("value", k);
	
}
	</script>
	

</head>


<body onload="myfun()" >
	

    <div class="wrapper_header" style="height:610px;">
  		<div id="img-container" bg-glitch="ourwork-bg@2x.jpg" style="background-position: center;background-repeat: repeat;"></div>
      <div class="inner-container">

		 

 <br><br><br><br>

<form class="search-form" method="GET" style="margin-top:10%;">
  <input type="search" id="search" placeholder="Search" name="q"  class="search-input">
   <button type="submit" class="search-button">
    <svg class="submit-button">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#search"></use>
    </svg>
  </button><br><br><br><br>
<p style="color:black;z-index:3333;margin-top:20%;">{{ label }}</p>
</form>

<svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" display="none">
  <symbol id="search" viewBox="0 0 32 32">
    <path d="M 19.5 3 C 14.26514 3 10 7.2651394 10 12.5 C 10 14.749977 10.810825 16.807458 12.125 18.4375 L 3.28125 27.28125 L 4.71875 28.71875 L 13.5625 19.875 C 15.192542 21.189175 17.250023 22 19.5 22 C 24.73486 22 29 17.73486 29 12.5 C 29 7.2651394 24.73486 3 19.5 3 z M 19.5 5 C 23.65398 5 27 8.3460198 27 12.5 C 27 16.65398 23.65398 20 19.5 20 C 15.34602 20 12 16.65398 12 12.5 C 12 8.3460198 15.34602 5 19.5 5 z" />
  </symbol>

 <!-- 
  <div class="search-box">

			<div class="search-icon"><i class="fa fa-search search-icon"></i></div>
			<form action="" class="search-form" method="GET">
				<input type="text" placeholder="Search" id="search" name="q" autocomplete="off">
			</form>
			<svg class="search-border" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" viewBox="0 0 671 111" style="enable-background:new 0 0 671 111;"
			 xml:space="preserve">
          <path class="border" d="M335.5,108.5h-280c-29.3,0-53-23.7-53-53v0c0-29.3,23.7-53,53-53h280"/>
          <path class="border" d="M335.5,108.5h280c29.3,0,53-23.7,53-53v0c0-29.3-23.7-53-53-53h-280"/>
        </svg>
			<div class="go-icon"><i class="fa fa-arrow-right"></i></div>
		</div>

	</div> -->
</svg>
</div>
		<header>
			<nav>
				<ul>
					<li><a href="/" title="What we do" class="">What we do</a></li>
          			<li><a href="index2" title="Our work" class="">Demos</a></li>
          			<li><a href="/" title="Our ideas" class="">Our ideas</a></li>
          			<li><a href="/" title="Who we are" class="">Who we are</a></li>
          			<li><a href="/" title="Who we are" class="">Blog</a></li>

				</ul>
			 </nav>
		</header>
		
	
		<div class="logo">

			<a href="http://noescomun.com/">
				<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="416px" height="70px" viewBox="0 0 416 70" enable-background="new 0 0 416 70" xml:space="preserve">
					 <path fill-rule="evenodd" clip-rule="evenodd" fill="#fff" d="M113.366,42.28c0,4.226-2.574,6.732-6.496,6.732
						c-3.949,0-6.447-2.506-6.447-6.732V18.491h-7.297v24.057c0,7.763,6.08,12.839,13.744,12.839c7.646,0,13.725-5.076,13.725-12.839
						V18.491h-7.229V42.28z"/>
					 <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#fff" points="152.209,40.901 137.409,18.491 130.918,18.491
						130.918,55.082 138.215,55.082 138.215,32.619 152.979,55.082 159.497,55.082 159.497,18.491 152.209,18.491 "/>
					 <path fill-rule="evenodd" clip-rule="evenodd" fill="#fff" d="M182.928,24.552c3.66,0,5.551,2.261,6.285,5.192h7.403
						c-1.325-7.663-6.787-11.576-13.744-11.576c-4.095,0-7.448,1.45-10.062,4.016c-3.789,3.702-3.686,8.277-3.686,14.598
						c0,6.321-0.104,10.888,3.686,14.603c2.613,2.561,5.967,4.012,10.062,4.012c6.912,0,12.419-3.908,13.744-11.568h-7.403
						c-0.734,2.928-2.625,5.184-6.285,5.184c-1.992,0-3.609-0.715-4.656-1.898c-1.424-1.539-1.844-3.285-1.844-10.331
						c0-7.038,0.42-8.783,1.844-10.328C179.319,25.268,180.936,24.552,182.928,24.552"/>
					 <path fill-rule="evenodd" clip-rule="evenodd" fill="#fff" d="M217.622,18.169c-4.248,0-7.494,1.45-10.117,4.015
						c-3.779,3.702-3.672,8.277-3.672,14.599c0,6.321-0.107,10.895,3.672,14.602c2.623,2.57,5.869,4.002,10.117,4.002
						c4.252,0,7.439-1.432,10.072-4.002c3.76-3.707,3.725-8.281,3.725-14.602c0-6.322,0.035-10.897-3.725-14.599
						C225.062,19.619,221.874,18.169,217.622,18.169 M222.278,47.064c-1.039,1.178-2.66,1.947-4.656,1.947s-3.672-0.77-4.709-1.947
						c-1.424-1.543-1.787-3.244-1.787-10.282c0-7.033,0.363-8.739,1.787-10.27c1.037-1.191,2.713-1.961,4.709-1.961
						s3.617,0.77,4.656,1.961c1.422,1.531,1.844,3.237,1.844,10.27C224.122,43.82,223.7,45.521,222.278,47.064"/>
				   <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#fff" points="257.983,38.278 248.241,18.491 241.052,18.491
						241.052,55.082 248.341,55.082 248.341,33.748 255.513,47.629 260.454,47.629 267.571,33.748 267.571,55.082 274.868,55.082
						274.868,18.491 267.679,18.491 "/>
				   <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#fff" points="302.696,38.278 292.954,18.491 285.765,18.491
						285.765,55.082 293.044,55.082 293.044,33.748 300.243,47.629 305.157,47.629 312.284,33.748 312.284,55.082 319.591,55.082
						319.591,18.491 312.396,18.491 "/>
					 <path fill-rule="evenodd" clip-rule="evenodd" fill="#fff" d="M343.003,18.169c-4.248,0-7.494,1.45-10.107,4.015
						c-3.787,3.702-3.68,8.277-3.68,14.599c0,6.321-0.107,10.895,3.68,14.602c2.613,2.57,5.859,4.002,10.107,4.002
						c4.254,0,7.439-1.432,10.055-4.002c3.787-3.707,3.742-8.281,3.742-14.602c0-6.322,0.045-10.897-3.742-14.599
						C350.442,19.619,347.257,18.169,343.003,18.169 M347.667,47.064c-1.047,1.178-2.672,1.947-4.664,1.947
						c-1.996,0-3.662-0.77-4.723-1.947c-1.41-1.543-1.773-3.244-1.773-10.282c0-7.033,0.363-8.739,1.773-10.27
						c1.061-1.191,2.727-1.961,4.723-1.961c1.992,0,3.617,0.77,4.664,1.961c1.406,1.531,1.828,3.237,1.828,10.27
						C349.495,43.82,349.073,45.521,347.667,47.064"/>
					 <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#fff" points="387.858,18.491 387.858,40.901 373.077,18.491
						366.573,18.491 366.573,55.082 373.864,55.082 373.864,32.619 388.634,55.082 395.138,55.082 395.138,18.491 "/>
					 <path fill-rule="evenodd" clip-rule="evenodd" fill="#fff" d="M48.002,9.618c-14.98,0-27.14,12.092-27.14,26.985
						c0,14.935,12.159,27.013,27.14,27.013c14.996,0,27.146-12.078,27.146-27.013C75.148,21.709,62.999,9.618,48.002,9.618
					 	M48.002,59.662c-12.813,0-23.217-10.346-23.217-23.085c0-12.759,10.403-23.091,23.217-23.091c12.811,0,23.207,10.332,23.207,23.091
						C71.209,49.316,60.813,59.662,48.002,59.662"/>
					 <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#fff" points="57.178,24.812 51.305,30.658 36.417,30.658 36.417,34.517
						47.428,34.517 43.533,38.394 36.417,38.394 36.417,42.217 39.688,42.217 36.399,45.494 39.164,48.234 45.207,42.217 59.668,42.217
						59.668,38.394 49.049,38.394 52.944,34.517 59.668,34.517 59.668,30.658 56.821,30.658 59.946,27.551 "/>
				</svg>
			</a>
		</div>
	</div>			

<!-- 
    <div class="wrapper_section intro">
  		<div class="inner-container">
        <div>
          <svg width="81px" height="3px" viewBox="0 0 81 3" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
                  <g transform="translate(-201.000000, -368.000000)" stroke="#2325FD" stroke-width="2">
                      <path d="M202.5,369.5 L281,369.5"></path>
                  </g>
              </g>
          </svg>
          <h2>Intro</h2>
        </div>
        <div>
          <p>We use design strategy to impact the world. We work with organizations to achieve their goals through the design of solutions that help people live with greater equity, wellbeing and sustainability. These are some of our most recent projects in diverse industries:</p>
        </div>
      </div>
    </div>

    <div class="wrapper_section services">
  		<div class="inner-container accordeon">
	  		
	  		
	  		
	  		    
	    	    	
		        <div class="accordeon-module">
		          <span class="accordeon-module-title" hash="retail">Retail<i>+</i></span>
		          <div class="accordeon-module-content hide">
		            <div class="accordeon-module-content-container_01">
		              <img width="266" height="169" src="../../wp-content/uploads/2018/03/retail%402x-1.png">
		              <div class="sep">
		                <svg width="42px" height="2px" viewBox="0 0 42 2" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
		                        <g transform="translate(-123.000000, -1280.000000)" stroke="#1918FB" stroke-width="2">
		                            <path d="M124,1281 L164,1281"></path>
		                        </g>
		                    </g>
		                </svg>
		              </div>
		              <p class="clients">AMWAY // CHEDRAUI //<br />
GRUPO ROGA // SMARTFIT MEXICO</p>
		            </div>
		            <div class="accordeon-module-content-container_02">
		              <p><p>The retail industry has to cope with continuous change in consumer lifestyle trends, and also with the way people change how they research, buy and use products. The retail industry in Mexico has thrived despite some recent economic events like the currency devaluation. The access to credit facilities offered by some retailers contributes to the prosperity of the industry. Also, many retailers have implemented strategies to propel e-commerce and,increasingly, Mexican consumers have started to consider it as a shopping option.</p>
</p>
		              <p>We’ve worked in:</p>
		              <ul>
<li>Reshaping the brick and mortar shopping experience.</li>
<li>Designing a spinoff brand to attract younger clients.</li>
<li>Discovering opportunities to build features to enhance a shopping experience either physical or digital.</li>
<li>Defining and designing the MVP and roadmap for a digital platform for a supermarket chain.</li>
</ul>
		              
		              		            </div>
		          </div>
		        </div>
			
		        <div class="accordeon-module">
		          <span class="accordeon-module-title" hash="telecommunications">Telecommunications<i>+</i></span>
		          <div class="accordeon-module-content hide">
		            <div class="accordeon-module-content-container_01">
		              <img width="266" height="169" src="../../wp-content/uploads/2018/03/telecommunications%402x.png">
		              <div class="sep">
		                <svg width="42px" height="2px" viewBox="0 0 42 2" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
		                        <g transform="translate(-123.000000, -1280.000000)" stroke="#1918FB" stroke-width="2">
		                            <path d="M124,1281 L164,1281"></path>
		                        </g>
		                    </g>
		                </svg>
		              </div>
		              <p class="clients">TELCEL // INSTITUTO MEXICANO<br />
DE TELECOMUNICACIONES //<br />
TELECOM</p>
		            </div>
		            <div class="accordeon-module-content-container_02">
		              <p><p>The steady growing usage of mobile phones and the widespread adoption of internet based services has promoted the development of numerous innovation projects from different industries that want to capitalize on these behaviors. In spite of governmental stimulus and regulations for telecom companies, this is a perfect moment to develop products that may represent leverage when clients choose their phone carrier.</p>
</p>
		              <p>We’ve worked in:</p>
		              <ul>
<li>Designing different value propositions of a digital wallet for different user segments with specific needs.</li>
<li>Strategies to convert people who use apps as a source of information into people who pay within them.</li>
<li>Designing touchpoints to enhance the migration of mobile numbers from one company to another, in response to a recent number portability regulation.</li>
<li>Helping a leading Argentinian Telco organization develop their approach to innovation and customer experience through organizational design.</li>
</ul>
		              
		              			              <a href="../our_work/telecommunications/index.html">READ THE CASE STUDY<span>+</span></a>
		              		            </div>
		          </div>
		        </div>
			
		        <div class="accordeon-module">
		          <span class="accordeon-module-title" hash="financial-services">Financial services<i>+</i></span>
		          <div class="accordeon-module-content hide">
		            <div class="accordeon-module-content-container_01">
		              <img width="266" height="169" src="../../wp-content/uploads/2018/03/financialServices%402x.png">
		              <div class="sep">
		                <svg width="42px" height="2px" viewBox="0 0 42 2" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
		                        <g transform="translate(-123.000000, -1280.000000)" stroke="#1918FB" stroke-width="2">
		                            <path d="M124,1281 L164,1281"></path>
		                        </g>
		                    </g>
		                </svg>
		              </div>
		              <p class="clients">VISA // GRUPO BURSÁTIL<br />
MEXICANO (PIGGO) // HIPOS.COM //<br />
FUNDACIÓN DONDÉ // BANKABLE<br />
FRONTIER ASSOCIATES // BBVA<br />
FRANCÉS // BBVA BANCOMER //<br />
BANCO DE MÉXICO</p>
		            </div>
		            <div class="accordeon-module-content-container_02">
		              <p><p>Due to the development of digital technologies and change in regulations worldwide, the financial services industry has recently been one of the most disrupted. Financial institutions are starting to embrace change and understand the need to transform the way they engage with their customers. Also, they are propelling the urge to take into consideration real consumer needs when improving existing products and services or developing new ones. Moreover, low financial inclusion is an issue in Latin America that still needs to be addressed and represents great opportunities not only for financial institutions but also for startups.</p>
</p>
		              <p>We’ve worked in:</p>
		              <ul>
<li>Gathering insights into people&#8217;s experiences with different payment methods and day-to-day expenses.</li>
<li>Designing platform concepts to promote the sustained use of credit cards for a specific client&#8217;s segment.</li>
<li>Designing concepts and strategies to boost the use of debit cards over the use of cash.</li>
<li>Redesigning the value proposition of an investing platform for millennials.</li>
<li>Designing systems that enhance the experience of using passwords in different banking channels.</li>
<li>Redesigning pawn shop branch offices based on client’s needs.</li>
</ul>
		              
		              			              <a href="../our_work/financial-services/index.html">READ THE CASE STUDY<span>+</span></a>
		              		            </div>
		          </div>
		        </div>
			
		        <div class="accordeon-module">
		          <span class="accordeon-module-title" hash="food-and-beverage">Food and Beverage<i>+</i></span>
		          <div class="accordeon-module-content hide">
		            <div class="accordeon-module-content-container_01">
		              <img width="266" height="169" src="../../wp-content/uploads/2018/03/foodAndBeverage%402x.png">
		              <div class="sep">
		                <svg width="42px" height="2px" viewBox="0 0 42 2" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
		                        <g transform="translate(-123.000000, -1280.000000)" stroke="#1918FB" stroke-width="2">
		                            <path d="M124,1281 L164,1281"></path>
		                        </g>
		                    </g>
		                </svg>
		              </div>
		              <p class="clients">BIMBO // COCA COLA MÉXICO</p>
		            </div>
		            <div class="accordeon-module-content-container_02">
		              <p><p>In an era of over informed consumers, companies have to rapidly adjust to the spread of sophisticated purchase behavior, decrease of loyalty towards brands, changes in government regulations and the ceaseless search for convenience and health oriented practices. Producers are striving to keep existing consumers and attract new ones; to achieve this, they now look into a more human centered approach to gather insights and identify opportunities to envision new offerings.</p>
</p>
		              <p>We’ve worked in:</p>
		              <ul>
<li>Designing new consumption moments. Tactics to increase the frequency of purchase of certain products.</li>
<li>Designing nudges to influence the buyer decision process before the purchase of some goods.</li>
<li>Designing future scenarios for products and services.</li>
<li>Designing new product concepts to satisfy consumer emerging needs and strengthen the relationship between brands and consumers.</li>
<li>Identifying business opportunities for new groups of consumers and new consumption moments.</li>
<li>Redesigning one of the main assets in convenience stores for a brand.</li>
</ul>
		              
		              			              <a href="../our_work/food-and-beverage/index.html">READ THE CASE STUDY<span>+</span></a>
		              		            </div>
		          </div>
		        </div>
			
		        <div class="accordeon-module">
		          <span class="accordeon-module-title" hash="education">Education<i>+</i></span>
		          <div class="accordeon-module-content hide">
		            <div class="accordeon-module-content-container_01">
		              <img width="266" height="169" src="../../wp-content/uploads/2018/03/education%402x.png">
		              <div class="sep">
		                <svg width="42px" height="2px" viewBox="0 0 42 2" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="square">
		                        <g transform="translate(-123.000000, -1280.000000)" stroke="#1918FB" stroke-width="2">
		                            <path d="M124,1281 L164,1281"></path>
		                        </g>
		                    </g>
		                </svg>
		              </div>
		              <p class="clients">LAUREATE // UNIVERSITIES (UVM &amp; UNITEC) // UNIVERSITAT OBERTA DE CATALUNYA (UOC)</p>
		            </div>
		            <div class="accordeon-module-content-container_02">
		              <p><p>The education sector is feeling the constant pressure of consumer demands and time limitations. Educative services risk considering their users as economic goals, as people’s attitude towards learning is shifting. Organisations must embrace technology and consumer behavior change either to lead or adapt and to offer value to people.</p>
</p>
		              <p>We’ve worked in:</p>
		              <ul>
<li>Understanding consumers’ pains and needs and matching them with an organization’s assets to deliver value through salespeople.</li>
<li>Prototyping methods and tools that empower salespeople and enable them to reach out to decision makers within organizations.</li>
<li>Designing strategies to entail the corporate and academic sector.</li>
<li>Analysis and recommendations of the use of new technologies and tools to transform online education.</li>
<li>Identifying opportunities to design value propositions for digital products that increase motivation and enhance the online learning experience.</li>
<li>Designing gamification concepts in online learning processes to promote interaction between peers.</li>
</ul>
		              
		              			              <a href="../our_work/education/index.html">READ THE CASE STUDY<span>+</span></a>
		              		            </div>
		          </div>
		        </div>
			
					
      </div>
    </div>
    
	<div class="wrapper_section watches">
		<div class="">
			<a href="../mexico/index.html">
				<svg width="120" height="120">
					<defs>
						<mask id="mask-me">
							<circle cx="60" cy="60" r="36" fill="white" />
						</mask>
					</defs>
					<text class="time_" x="70" y="64" transform="rotate(-90 60,60)" fill="black" style="letter-spacing:.15rem;"></text>
					<circle cx="60" cy="60" r="36" fill="black" />
					<image class="seconds" xlink:href="../../wp-content/themes/uncommon/images/clock_cdmx%403x.png" x="53" y="62" height="24px" width="34px"/>
					<circle cx="60" cy="60" r="3" fill="white" />
					<text class="time" x="70" y="64" transform="rotate(-90 60,60)" fill="white" style="letter-spacing:.15rem;" mask="url(#mask-me)"></text>
				</svg>
				<span>CDMX</span>
			</a>
		</div>
		<div class="">
			<a href="../madrid/index.html">
				<svg width="120" height="120">
					<circle cx="60" cy="60" r="36" fill="#78e6e9" />
					<image class="seconds" xlink:href="../../wp-content/themes/uncommon/images/clock_mad%403x.png" x="36" y="30" height="86px" width="50px"/>
					<circle cx="60" cy="60" r="3" fill="black" />
					<text class="time" x="70" y="64" transform="rotate(-90 60,60)" fill="black" style="letter-spacing:.15rem;"></text>
				</svg>
				<span>MAD</span>
			</a>
		</div>
		<div class="">
			<a href="../buenos-aires/index.html">
				<svg width="120" height="120">
					<circle cx="60" cy="60" r="36" fill="#535bfb" />
					<image class="seconds" xlink:href="../../wp-content/themes/uncommon/images/clock_bsas%403x.png" x="60" y="60" height="30px" width="30px"/>
					<circle cx="60" cy="60" r="3" fill="black" />
					<text class="time" x="70" y="64" transform="rotate(-90 60,60)" fill="black" style="letter-spacing:.15rem;"></text>
				</svg>
				<span>Bs.As.</span>
			</a>
		</div>
	</div>	<footer>
		<div class="inner-container">
			<span class="separation"></span>
			<ul>
				<li><a target="_blank" href="https://www.facebook.com/noescomun/">Facebook</a></li>
				<span class="sep">:</span>
				<li><a target="_blank" href="https://www.instagram.com/noescomun/?hl=es-la">Instagram</a></li>
				<span class="sep">:</span>
				<li><a target="_blank" href="https://twitter.com/noescomun">Twitter</a></li>
				<span class="sep">:</span>
				<li class="last"><a target="_blank" href="https://www.linkedin.com/company/3783561/">LinkedIn</a></li>
			</ul>


			<div class="copyright">
				<svg width="72px" height="9px" viewBox="0 0 72 9" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
				    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
				        <g transform="translate(-50.000000, -2080.000000)" fill="#1918FB">
				            <g transform="translate(0.000000, 1864.000000)">
				                <g transform="translate(50.000000, 216.000000)">
				                    <path d="M5,5.8 C5,6.8 4.4,7.4 3.5,7.4 C2.6,7.4 2,6.8 2,5.8 L2,0.1 L0.2,0.1 L0.2,5.9 C0.2,7.8 1.6,9 3.5,9 C5.3,9 6.8,7.8 6.8,5.9 L6.8,0.1 L5,0.1 L5,5.8 Z"></path>
				                    <polygon points="14.2 5.5 10.7 0.1 9.2 0.1 9.2 8.9 10.9 8.9 10.9 3.5 14.4 8.9 15.9 8.9 15.9 0.1 14.2 0.1"></polygon>
				                    <path d="M21.5,1.5 C22.4,1.5 22.8,2 23,2.8 L24.8,2.8 C24.4,0.9 23.1,0 21.5,0 C20.5,0 19.7,0.3 19.1,1 C18.2,1.9 18.2,3 18.2,4.5 C18.2,6 18.2,7.1 19.1,8 C19.7,8.6 20.5,9 21.5,9 C23.1,9 24.4,8.1 24.8,6.2 L23,6.2 C22.8,6.9 22.4,7.5 21.5,7.5 C21,7.5 20.6,7.3 20.4,7 C20.1,6.6 20,6.2 20,4.5 C20,2.8 20.1,2.4 20.4,2 C20.6,1.7 21,1.5 21.5,1.5 Z"></path>
				                    <path d="M29.7,0 C28.7,0 27.9,0.3 27.3,1 C26.4,1.9 26.4,3 26.4,4.5 C26.4,6 26.4,7.1 27.3,8 C27.9,8.6 28.7,9 29.7,9 C30.7,9 31.5,8.7 32.1,8 C33,7.1 33,6 33,4.5 C33,3 33,1.9 32.1,1 C31.5,0.3 30.7,0 29.7,0 Z M30.8,7 C30.6,7.3 30.2,7.5 29.7,7.5 C29.2,7.5 28.8,7.3 28.6,7 C28.3,6.6 28.2,6.2 28.2,4.5 C28.2,2.8 28.3,2.4 28.6,2 C28.8,1.7 29.2,1.5 29.7,1.5 C30.2,1.5 30.6,1.7 30.8,2 C31.1,2.4 31.2,2.8 31.2,4.5 C31.3,6.2 31.2,6.6 30.8,7 Z"></path>
				                    <polygon points="39.3 4.9 37 0.1 35.3 0.1 35.3 8.9 37 8.9 37 3.8 38.7 7.1 39.9 7.1 41.6 3.8 41.6 8.9 43.3 8.9 43.3 0.1 41.6 0.1"></polygon>
				                    <polygon points="49.9 4.9 47.6 0.1 45.9 0.1 45.9 8.9 47.6 8.9 47.6 3.8 49.3 7.1 50.5 7.1 52.2 3.8 52.2 8.9 53.9 8.9 53.9 0.1 52.2 0.1"></polygon>
				                    <path d="M59.4,0 C58.4,0 57.6,0.3 57,1 C56.1,1.9 56.1,3 56.1,4.5 C56.1,6 56.1,7.1 57,8 C57.6,8.6 58.4,9 59.4,9 C60.4,9 61.2,8.7 61.8,8 C62.7,7.1 62.7,6 62.7,4.5 C62.7,3 62.7,1.9 61.8,1 C61.2,0.3 60.4,0 59.4,0 Z M60.5,7 C60.3,7.3 59.9,7.5 59.4,7.5 C58.9,7.5 58.5,7.3 58.3,7 C58,6.6 57.9,6.2 57.9,4.5 C57.9,2.8 58,2.4 58.3,2 C58.5,1.7 58.9,1.5 59.4,1.5 C59.9,1.5 60.3,1.7 60.5,2 C60.9,2.4 61,2.8 61,4.5 C61,6.2 60.9,6.6 60.5,7 Z"></path>
				                    <polygon points="70.1 0.1 70.1 5.5 66.6 0.1 65 0.1 65 8.9 66.8 8.9 66.8 3.5 70.3 8.9 71.8 8.9 71.8 0.1"></polygon>
				                </g>
				            </g>
				        </g>
				    </g>
				</svg>
				<span>&copy;</span>
				2018
			</div>

			

			<ul class="avisos">
				<li><a target="_blank" href="../politicaprivacidad/index.html">Política de Privacidad</a></li>
				<span class="sep">:</span>
				<li><a target="_blank" href="../cookies/index.html">Configuración de Cookies</a></li>
				<span class="sep">:</span>
				<li><a target="_blank" href="../avisolegal/index.html">Aviso Legal</a></li>
			</ul>

		</div>
	</footer>

		<aside class="side-nav">
		<nav>
			<ul>
          	<li><a href="what-we-do/index.html" title="What we do" class="">What we do</a></li>
          			<li><a href="our-work/index.html" title="Our work" class="">Demos</a></li>
          			<li><a href="our-ideas/index.html" title="Our ideas" class="">Our ideas</a></li>
          			<li><a href="who-we-are/index.html" title="Who we are" class="">Who we are</a></li>
          			<li><a href="who-we-are/index.html" title="Who we are" class="">Blog</a></li>
			</ul>
		</nav>
	</aside>	<aside class="side-logo">
		<a href="http://noescomun.com/">
			<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="416px" height="70px" viewBox="0 0 416 70" enable-background="new 0 0 416 70" xml:space="preserve">
				 <path fill-rule="evenodd" clip-rule="evenodd" fill="#2325FD" d="M113.366,42.28c0,4.226-2.574,6.732-6.496,6.732
					c-3.949,0-6.447-2.506-6.447-6.732V18.491h-7.297v24.057c0,7.763,6.08,12.839,13.744,12.839c7.646,0,13.725-5.076,13.725-12.839
					V18.491h-7.229V42.28z"/>
				 <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#2325FD" points="152.209,40.901 137.409,18.491 130.918,18.491
					130.918,55.082 138.215,55.082 138.215,32.619 152.979,55.082 159.497,55.082 159.497,18.491 152.209,18.491 "/>
				 <path fill-rule="evenodd" clip-rule="evenodd" fill="#2325FD" d="M182.928,24.552c3.66,0,5.551,2.261,6.285,5.192h7.403
					c-1.325-7.663-6.787-11.576-13.744-11.576c-4.095,0-7.448,1.45-10.062,4.016c-3.789,3.702-3.686,8.277-3.686,14.598
					c0,6.321-0.104,10.888,3.686,14.603c2.613,2.561,5.967,4.012,10.062,4.012c6.912,0,12.419-3.908,13.744-11.568h-7.403
					c-0.734,2.928-2.625,5.184-6.285,5.184c-1.992,0-3.609-0.715-4.656-1.898c-1.424-1.539-1.844-3.285-1.844-10.331
					c0-7.038,0.42-8.783,1.844-10.328C179.319,25.268,180.936,24.552,182.928,24.552"/>
				 <path fill-rule="evenodd" clip-rule="evenodd" fill="#2325FD" d="M217.622,18.169c-4.248,0-7.494,1.45-10.117,4.015
					c-3.779,3.702-3.672,8.277-3.672,14.599c0,6.321-0.107,10.895,3.672,14.602c2.623,2.57,5.869,4.002,10.117,4.002
					c4.252,0,7.439-1.432,10.072-4.002c3.76-3.707,3.725-8.281,3.725-14.602c0-6.322,0.035-10.897-3.725-14.599
					C225.062,19.619,221.874,18.169,217.622,18.169 M222.278,47.064c-1.039,1.178-2.66,1.947-4.656,1.947s-3.672-0.77-4.709-1.947
					c-1.424-1.543-1.787-3.244-1.787-10.282c0-7.033,0.363-8.739,1.787-10.27c1.037-1.191,2.713-1.961,4.709-1.961
					s3.617,0.77,4.656,1.961c1.422,1.531,1.844,3.237,1.844,10.27C224.122,43.82,223.7,45.521,222.278,47.064"/>
				 <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#2325FD" points="257.983,38.278 248.241,18.491 241.052,18.491
					241.052,55.082 248.341,55.082 248.341,33.748 255.513,47.629 260.454,47.629 267.571,33.748 267.571,55.082 274.868,55.082
					274.868,18.491 267.679,18.491 "/>
				 <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#2325FD" points="302.696,38.278 292.954,18.491 285.765,18.491
					285.765,55.082 293.044,55.082 293.044,33.748 300.243,47.629 305.157,47.629 312.284,33.748 312.284,55.082 319.591,55.082
					319.591,18.491 312.396,18.491 "/>
				 <path fill-rule="evenodd" clip-rule="evenodd" fill="#2325FD" d="M343.003,18.169c-4.248,0-7.494,1.45-10.107,4.015
					c-3.787,3.702-3.68,8.277-3.68,14.599c0,6.321-0.107,10.895,3.68,14.602c2.613,2.57,5.859,4.002,10.107,4.002
					c4.254,0,7.439-1.432,10.055-4.002c3.787-3.707,3.742-8.281,3.742-14.602c0-6.322,0.045-10.897-3.742-14.599
					C350.442,19.619,347.257,18.169,343.003,18.169 M347.667,47.064c-1.047,1.178-2.672,1.947-4.664,1.947
					c-1.996,0-3.662-0.77-4.723-1.947c-1.41-1.543-1.773-3.244-1.773-10.282c0-7.033,0.363-8.739,1.773-10.27
					c1.061-1.191,2.727-1.961,4.723-1.961c1.992,0,3.617,0.77,4.664,1.961c1.406,1.531,1.828,3.237,1.828,10.27
					C349.495,43.82,349.073,45.521,347.667,47.064"/>
				 <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#2325FD" points="387.858,18.491 387.858,40.901 373.077,18.491
					366.573,18.491 366.573,55.082 373.864,55.082 373.864,32.619 388.634,55.082 395.138,55.082 395.138,18.491 "/>
				 <path fill-rule="evenodd" clip-rule="evenodd" fill="#2325FD" d="M48.002,9.618c-14.98,0-27.14,12.092-27.14,26.985
					c0,14.935,12.159,27.013,27.14,27.013c14.996,0,27.146-12.078,27.146-27.013C75.148,21.709,62.999,9.618,48.002,9.618
					M48.002,59.662c-12.813,0-23.217-10.346-23.217-23.085c0-12.759,10.403-23.091,23.217-23.091c12.811,0,23.207,10.332,23.207,23.091
					C71.209,49.316,60.813,59.662,48.002,59.662"/>
				 <polygon fill-rule="evenodd" clip-rule="evenodd" fill="#2325FD" points="57.178,24.812 51.305,30.658 36.417,30.658 36.417,34.517
					47.428,34.517 43.533,38.394 36.417,38.394 36.417,42.217 39.688,42.217 36.399,45.494 39.164,48.234 45.207,42.217 59.668,42.217
					59.668,38.394 49.049,38.394 52.944,34.517 59.668,34.517 59.668,30.658 56.821,30.658 59.946,27.551 "/>
			</svg>
		</a>
	</aside>	<div class="menu-mobile">
		<nav>
			<ul>
          		<li><a href="../what-we-do/index.html" class="">What we do</a></li>
          		<li><a href="index.html" class="active">Our work</a></li>
          		<li><a href="../who-we-are/index.html" class="">Who we are</a></li>
          		<li><a href="../our-ideas/index.html" class="">Our ideas</a></li>
			</ul>
		</nav>
	</div>	<a href="#" class="hamburger">
		<svg height="32px" style="enable-background:new 0 0 32 32;" version="1.1" viewBox="0 0 32 32" width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
			<path fill="#fff" d="M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896,6,2,6.896,2,8S2.896,10,4,10z M28,14H4c-1.104,0-2,0.896-2,2  s0.896,2,2,2h24c1.104,0,2-0.896,2-2S29.104,14,28,14z M28,22H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h24c1.104,0,2-0.896,2-2  S29.104,22,28,22z"/>
		</svg>
	</a>	<a href="#" class="close">
		<svg width="22px" height="22px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
			<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
				<g transform="translate(-1.000000, -1.000000)" fill-rule="nonzero" fill="#fff">
						<path d="M24,10 L0,10 C-1.104,10 -2,10.896 -2,12 C-2,13.104 -1.104,14 0,14 L24,14 C25.104,14 26,13.104 26,12 C26,10.896 25.104,10 24,10 Z" transform="translate(12.000000, 12.000000) rotate(-45.000000) translate(-12.000000, -12.000000) "></path>
						<path d="M24,10 L0,10 C-1.104,10 -2,10.896 -2,12 C-2,13.104 -1.104,14 0,14 L24,14 C25.104,14 26,13.104 26,12 C26,10.896 25.104,10 24,10 Z" transform="translate(12.000000, 12.000000) rotate(-315.000000) translate(-12.000000, -12.000000) "></path>
				</g>
			</g>
		</svg>
	</a>	<svg width="59px" height="69px" viewBox="0 0 59 69" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
		<defs>
			<filter id="filter">
				<feFlood flood-color="white" result="white" />
				<feFlood flood-color="red" result="flood1" />
				<feFlood flood-color="limegreen" result="flood2" />
				<feOffset in="SourceGraphic" dx="3" dy="0" result="off1a"/>
				<feOffset in="SourceGraphic" dx="2" dy="0" result="off1b"/>
				<feOffset in="SourceGraphic" dx="-3" dy="0" result="off2a"/>
				<feOffset in="SourceGraphic" dx="-2" dy="0" result="off2b"/>
				<feComposite in="flood1" in2="off1a" operator="in" result="comp1" />
				<feComposite in="flood2" in2="off2a" operator="in" result="comp2" />
				<feMerge x="0" width="100%" result="merge1">
					<feMergeNode in="white" />
					<feMergeNode in="comp1" />
					<feMergeNode in="off1b" />
					<animate attributeName="y" id="y" dur ="4s" values='104px; 104px; 30px; 105px; 30px; 2px; 2px; 50px; 40px; 105px; 105px; 20px; 6ßpx; 40px; 104px; 40px; 70px; 10px; 30px; 104px; 102px' keyTimes='0; 0.362; 0.368; 0.421; 0.440; 0.477; 0.518; 0.564; 0.593; 0.613; 0.644; 0.693; 0.721; 0.736; 0.772; 0.818; 0.844; 0.894; 0.925; 0.939; 1' repeatCount="indefinite" />
					<animate attributeName="height" id="h" dur="4s" values='10px; 0px; 10px; 30px; 50px; 0px; 10px; 0px; 0px; 0px; 10px; 50px; 40px; 0px; 0px; 0px; 40px; 30px; 10px; 0px; 50px' keyTimes='0; 0.362; 0.368; 0.421; 0.440; 0.477; 0.518; 0.564; 0.593; 0.613; 0.644; 0.693; 0.721; 0.736; 0.772; 0.818; 0.844; 0.894; 0.925; 0.939; 1' repeatCount="indefinite" />
				</feMerge>
				<feMerge x="0" width="100%" y="60px" height="65px" result="merge2">
					<feMergeNode in="white" />
					<feMergeNode in="comp2" />
					<feMergeNode in="off2b" />
					<animate attributeName="y" id="y" dur ="4s" values='103px; 104px; 69px; 53px; 42px; 104px; 78px; 89px; 96px; 100px; 67px; 50px; 96px; 66px; 88px; 42px; 13px; 100px; 100px; 104px;' keyTimes='0; 0.055; 0.100; 0.125; 0.159; 0.182; 0.202; 0.236; 0.268; 0.326; 0.357; 0.400; 0.408; 0.461; 0.493; 0.513; 0.548; 0.577; 0.613; 1' repeatCount="indefinite" />
					<animate attributeName="height" id="h" dur="4s" values='0px; 0px; 0px; 16px; 16px; 12px; 12px; 0px; 0px; 5px; 10px; 22px; 33px; 11px; 0px; 0px; 10px' keyTimes='0; 0.055; 0.100; 0.125; 0.159; 0.182; 0.202; 0.236; 0.268; 0.326; 0.357; 0.400; 0.408; 0.461; 0.493; 0.513;  1' repeatCount="indefinite" />
				</feMerge>
				<feMerge>
					<feMergeNode in="SourceGraphic" />
					<feMergeNode in="merge1" />
					<feMergeNode in="merge2" />
				</feMerge>
			</filter>
			<filter id="filter_01">
				<feFlood flood-color="#f8f8f8" result="#f8f8f8" />
				<feFlood flood-color="red" result="flood1" />
				<feFlood flood-color="limegreen" result="flood2" />
				<feOffset in="SourceGraphic" dx="3" dy="0" result="off1a"/>
				<feOffset in="SourceGraphic" dx="2" dy="0" result="off1b"/>
				<feOffset in="SourceGraphic" dx="-3" dy="0" result="off2a"/>
				<feOffset in="SourceGraphic" dx="-2" dy="0" result="off2b"/>
				<feComposite in="flood1" in2="off1a" operator="in" result="comp1" />
				<feComposite in="flood2" in2="off2a" operator="in" result="comp2" />
				<feMerge x="0" width="100%" result="merge1">
					<feMergeNode in="#f8f8f8" />
					<feMergeNode in="comp1" />
					<feMergeNode in="off1b" />
					<animate attributeName="y" id="y" dur="4s" values='104px; 104px; 30px; 105px; 30px; 2px; 2px; 50px; 40px; 105px; 105px; 20px; 6ßpx; 40px; 104px; 40px; 70px; 10px; 30px; 104px; 102px' keyTimes='0; 0.362; 0.368; 0.421; 0.440; 0.477; 0.518; 0.564; 0.593; 0.613; 0.644; 0.693; 0.721; 0.736; 0.772; 0.818; 0.844; 0.894; 0.925; 0.939; 1' repeatCount="indefinite" />
					<animate attributeName="height" id="h" dur="4s" values='10px; 0px; 10px; 30px; 50px; 0px; 10px; 0px; 0px; 0px; 10px; 50px; 40px; 0px; 0px; 0px; 40px; 30px; 10px; 0px; 50px' keyTimes='0; 0.362; 0.368; 0.421; 0.440; 0.477; 0.518; 0.564; 0.593; 0.613; 0.644; 0.693; 0.721; 0.736; 0.772; 0.818; 0.844; 0.894; 0.925; 0.939; 1' repeatCount="indefinite" />
				</feMerge>
				<feMerge x="0" width="100%" y="60px" height="65px" result="merge2">
					<feMergeNode in="#f8f8f8" />
					<feMergeNode in="comp2" />
					<feMergeNode in="off2b" />
					<animate attributeName="y" id="y" dur="4s" values='103px; 104px; 69px; 53px; 42px; 104px; 78px; 89px; 96px; 100px; 67px; 50px; 96px; 66px; 88px; 42px; 13px; 100px; 100px; 104px;' keyTimes='0; 0.055; 0.100; 0.125; 0.159; 0.182; 0.202; 0.236; 0.268; 0.326; 0.357; 0.400; 0.408; 0.461; 0.493; 0.513; 0.548; 0.577; 0.613; 1' repeatCount="indefinite" />
					<animate attributeName="height" id="h" dur="4s" values='0px; 0px; 0px; 16px; 16px; 12px; 12px; 0px; 0px; 5px; 10px; 22px; 33px; 11px; 0px; 0px; 10px' keyTimes='0; 0.055; 0.100; 0.125; 0.159; 0.182; 0.202; 0.236; 0.268; 0.326; 0.357; 0.400; 0.408; 0.461; 0.493; 0.513;  1' repeatCount="indefinite" />
				</feMerge>
				<feMerge>
					<feMergeNode in="SourceGraphic" />
					<feMergeNode in="merge1" />
					<feMergeNode in="merge2" />
				</feMerge>
			</filter>
			<filter id="filter_02">
	          <feFlood flood-color="#e6e6fb" result="#e6e6fb" />
	          <feFlood flood-color="red" result="flood1" />
	          <feFlood flood-color="limegreen" result="flood2" />
	          <feOffset in="SourceGraphic" dx="3" dy="0" result="off1a"/>
	          <feOffset in="SourceGraphic" dx="2" dy="0" result="off1b"/>
	          <feOffset in="SourceGraphic" dx="-3" dy="0" result="off2a"/>
	          <feOffset in="SourceGraphic" dx="-2" dy="0" result="off2b"/>
	          <feComposite in="flood1" in2="off1a" operator="in" result="comp1" />
	          <feComposite in="flood2" in2="off2a" operator="in" result="comp2" />
	          <feMerge x="0" width="100%" result="merge1">
	            <feMergeNode in="#e6e6fb" />
	            <feMergeNode in="comp1" />
	            <feMergeNode in="off1b" />
	            <animate attributeName="y" id="y" dur ="4s" values='104px; 104px; 30px; 105px; 30px; 2px; 2px; 50px; 40px; 105px; 105px; 20px; 6ßpx; 40px; 104px; 40px; 70px; 10px; 30px; 104px; 102px' keyTimes='0; 0.362; 0.368; 0.421; 0.440; 0.477; 0.518; 0.564; 0.593; 0.613; 0.644; 0.693; 0.721; 0.736; 0.772; 0.818; 0.844; 0.894; 0.925; 0.939; 1' repeatCount="indefinite" />
	            <animate attributeName="height" id="h" dur="4s" values='10px; 0px; 10px; 30px; 50px; 0px; 10px; 0px; 0px; 0px; 10px; 50px; 40px; 0px; 0px; 0px; 40px; 30px; 10px; 0px; 50px' keyTimes='0; 0.362; 0.368; 0.421; 0.440; 0.477; 0.518; 0.564; 0.593; 0.613; 0.644; 0.693; 0.721; 0.736; 0.772; 0.818; 0.844; 0.894; 0.925; 0.939; 1' repeatCount="indefinite" />
	          </feMerge>
	          <feMerge x="0" width="100%" y="60px" height="65px" result="merge2">
	            <feMergeNode in="#e6e6fb" />
	            <feMergeNode in="comp2" />
	            <feMergeNode in="off2b" />
	            <animate attributeName="y" id="y" dur ="4s" values='103px; 104px; 69px; 53px; 42px; 104px; 78px; 89px; 96px; 100px; 67px; 50px; 96px; 66px; 88px; 42px; 13px; 100px; 100px; 104px;' keyTimes='0; 0.055; 0.100; 0.125; 0.159; 0.182; 0.202; 0.236; 0.268; 0.326; 0.357; 0.400; 0.408; 0.461; 0.493; 0.513; 0.548; 0.577; 0.613; 1' repeatCount="indefinite" />
	            <animate attributeName="height" id="h" dur="4s" values='0px; 0px; 0px; 16px; 16px; 12px; 12px; 0px; 0px; 5px; 10px; 22px; 33px; 11px; 0px; 0px; 10px' keyTimes='0; 0.055; 0.100; 0.125; 0.159; 0.182; 0.202; 0.236; 0.268; 0.326; 0.357; 0.400; 0.408; 0.461; 0.493; 0.513;  1' repeatCount="indefinite" />
	          </feMerge>
	          <feMerge>
	            <feMergeNode in="SourceGraphic" />
	            <feMergeNode in="merge1" />
	            <feMergeNode in="merge2" />
	          </feMerge>
        	</filter>
		</defs>
	</svg> -->	<script type="text/javascript">
		var template_directory_uri = "http://noescomun.com/wp-content/themes/uncommon";
		var site_url = "http://noescomun.com/";
	</script>

	 <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>

<script type="text/javascript">
//webkitURL is deprecated but nevertheless
URL = window.URL || window.webkitURL;
 
var gumStream; //stream from getUserMedia()
var rec; //Recorder.js object
var input; //MediaStreamAudioSourceNode we'll be recording
 
// shim for AudioContext when it's not avb. 
var AudioContext = window.AudioContext || window.webkitAudioContext;
var audioContext = new AudioContext; //new audio context to help us record
 
var recordButton = document.getElementById("recordButton");
var stopButton = document.getElementById("stopButton");
var pauseButton = document.getElementById("pauseButton"); 
 
//add events to those 3 buttons
recordButton.addEventListener("click", startRecording);
stopButton.addEventListener("click", stopRecording);
pauseButton.addEventListener("click", pauseRecording);

function startRecording() {
    console.log("recordButton clicked");
 
    /*
    Simple constraints object, for more advanced audio features see
    <div class="video-container"><blockquote class="wp-embedded-content" data-secret="vNsz0nPBL4"><a href="https://addpipe.com/blog/audio-constraints-getusermedia/">Supported Audio Constraints in getUserMedia()</a></blockquote><iframe class="wp-embedded-content" sandbox="allow-scripts" security="restricted" style="position: absolute; clip: rect(1px, 1px, 1px, 1px);" src="https://addpipe.com/blog/audio-constraints-getusermedia/embed/#?secret=vNsz0nPBL4" data-secret="vNsz0nPBL4" width="600" height="338" title="“Supported Audio Constraints in getUserMedia()” — Pipe Blog" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe></div>
    */
 
    var constraints = { audio: true, video:false }
 
    /*
    Disable the record button until we get a success or fail from getUserMedia()
    */
 
    recordButton.disabled = true;
    stopButton.disabled = false;
    pauseButton.disabled = false
 
    /*
    We're using the standard promise based getUserMedia()
    https://developer.mozilla.org/en-US/docs/Web/API/MediaDevices/getUserMedia
    */
 
    navigator.mediaDevices.getUserMedia(constraints).then(function(stream) {
        console.log("getUserMedia() success, stream created, initializing Recorder.js ...");
 
        /* assign to gumStream for later use */
        gumStream = stream;
 
        /* use the stream */
        input = audioContext.createMediaStreamSource(stream);
 
        /* 
        Create the Recorder object and configure to record mono sound (1 channel)
        Recording 2 channels  will double the file size
        */
        rec = new Recorder(input,{numChannels:1})
 
        //start the recording process
        rec.record()
 
        console.log("Recording started");
 
    }).catch(function(err) {
        //enable the record button if getUserMedia() fails
        recordButton.disabled = false;
        stopButton.disabled = true;
        pauseButton.disabled = true
    });
}

function pauseRecording(){
    console.log("pauseButton clicked rec.recording=",rec.recording );
    if (rec.recording){
        //pause
        rec.stop();
        pauseButton.innerHTML="Resume";
    }else{
        //resume
        rec.record()
        pauseButton.innerHTML="Pause";
    }
}

function stopRecording() {
    console.log("stopButton clicked");
 
    //disable the stop button, enable the record too allow for new recordings
    stopButton.disabled = true;
    recordButton.disabled = false;
    pauseButton.disabled = true;
 
    //reset button just in case the recording is stopped while paused
    pauseButton.innerHTML="Pause";
 
    //tell the recorder to stop the recording
    rec.stop();
 
    //stop microphone access
    gumStream.getAudioTracks()[0].stop();
 
    //create the wav blob and pass it on to createDownloadLink
    rec.exportWAV(createDownloadLink);
}


function createDownloadLink(blob) {
 
    var url = URL.createObjectURL(blob);
    var au = document.createElement('audio');
    var li = document.createElement('li');
    var link = document.createElement('a');
 
    //add controls to the <audio> element
    au.controls = true;
    au.src = url;
 
    //link the a element to the blob
    link.href = url;
    link.download = new Date().toISOString() + '.wav';
    console.log(link.download)
    link.innerHTML = link.download;
    document.getElementById("stopButton").setAttribute("value",link.download);
 
    //add the new audio and a elements to the li element
    li.appendChild(au);
    li.appendChild(link);
 
    //add the li element to the ordered list
    recordingsList.appendChild(li);


			

		</script>


		<script type="text/javascript">
			$('.search-input').focus(function(){
  $(this).parent().addClass('focus');
}).blur(function(){
  $(this).parent().removeClass('focus');
})

		</script>

		<script>
  (function() {
    var cx = '016608030568259008878:3fabfb0ud4q';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<div style="visibility: hidden;">
<gcse:searchresults-only></gcse:searchresults-only>
</div>


	
  <script type="text/javascript" src="{{url_for('static' ,filename='js/modernizrffaf.js') }}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
 


  <script type="text/javascript" src="{{url_for('static' ,filename='js/jquery.flexslider-minffaf.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static' ,filename='js/jquery.mousewheelffaf.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static' ,filename='js/TweenMax.minffaf.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static' ,filename='js/TimelineMax.minffaf.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static' ,filename='js/ScrollMagicffaf.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static' ,filename='js/plugins/animation.gsapffaf.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static' ,filename='js/plugins/debug.addIndicatorsffaf.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static' ,filename='js/glitch-canvas-browser.minffaf.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static' ,filename='js/moment.minffaf.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static' ,filename='js/moment-timezone-with-data.minffaf.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static' ,filename='js/Utilsffaf.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static' ,filename='js/Commonffaf.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static' ,filename='js/GlitchHeaderffaf.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static' ,filename='js/game.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static' ,filename='js/pong.js')}}"></script>
  <script type="text/javascript" src="{{url_for('static' ,filename='js/home.js')}}"></script>
    </body>

</html>	
